# StreamX / MyCloud Storage
STREAMX_API_KEY=
STREAMX_BUCKET_ID=5500ceff-6d51-4f33-aee4-a07e2725ddaf
STREAMX_BASE_URL=https://streamx.frontmk.online/api/storage/v1
MYCLOUD_API_KEY=

# Backend / Server Info
PUBLIC_API_URL=https://call.ironvalecraft.shop
PUBLIC_PANEL_URL=https://painelcall.ironvalecraft.shop
PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
